<div class="container">
  <h4 class="center">Login</h4>
  <div class="row">
    <form class="col s12 center">
      <div class="row center">
        <div class="input-field col offset-s3 s6">
          <input name="email" id="email" type="text" class="validate" />
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col offset-s3 s6">
          <input
            id="password"
            name="password"
            type="password"
            class="validate"
          />
          <label for="password">Senha</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light">
        <a routerLink="/aluno/inicio" class="white-text">Entrar</a>
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
