<div class="container">
  <h4 class="center">Criar conta</h4>
  <div class="row">
    <form class="col s12 center" #form="ngForm" (submit)="onSubmit()">
      <div class="row">
        <div class="input-field col offset-s3 s6">
          <input
            name="name"
            id="name"
            type="text"
            class="validate"
            [(ngModel)]="this.user.name"
            required
            #name="ngModel"
            pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
          />
          <label for="name">Nome</label>
          <div class="red-text" [hidden]="name.valid || name.untouched">
            Por favor, informe o seu nome completo.
          </div>
          <div
            class="red-text"
            *ngIf="name.errors?.['required'] && name.touched"
          >
            Por favor, o nome completo é obrigatório.
          </div>
          <span
            class="helper-text"
            data-error="O campo é inválido"
            data-success="Ok!"
          ></span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col offset-s3 s6">
          <input
            name="email"
            id="email"
            type="text"
            class="validate"
            [(ngModel)]="this.user.email"
            required
            #name="ngModel"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <label for="email">Email</label>
          <div class="red-text" [hidden]="name.valid || name.untouched">
            Email inválido.
          </div>
          <div
            class="red-text"
            *ngIf="name.errors?.['required'] && name.touched"
          >
            Por favor, informe seu email.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col offset-s3 s6">
          <input
            id="password"
            name="password"
            type="password"
            class="validate"
            [(ngModel)]="this.user.password"
            required
            #name="ngModel"
          />
          <label for="password">Senha</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col offset-s3 s6">
          <label>
            <input type="checkbox" (click)="markAsEnterprise($event)" />
            <span>Empresa?</span>
          </label>
        </div>
      </div>

      <button
        class="btn waves-effect waves-light"
        type="submit"
        [disabled]="!form.valid"
      >
        Cadastrar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
