<div class="container">
  <h4 class="center">Vagas abertas</h4>
  <ul class="container row">
    <li *ngFor="let job of jobOpportunities">
      <div class="col s12 m6">
        <div class="job-card card">
          <div class="card-content">
            <p class="offer-enterprise-card card-title">
              {{ job.enterprise }}
            </p>
            <p class="offer-name-card">{{ job.offer }}</p>
            <p class="offer-descriprion-card">
              {{ job.description }}
            </p>
            <button class="btn btn-card">Mais informações</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
